<!DOCTYPE html>
<html>
  <head>
    <title>SBHackApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Barlow|Lobster|Bebas+Neue&display=swap" rel="stylesheet">
    

  </head>

  <body>
    <header class = "header">
      <nav class = "header-nav">
        <h1 class = "nav-logo"> 2Nite </h1>
        <% if logged_in? %>
          <form action="<%= session_url %>" method="post" class="l">
          <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <button class = "log-out"><input type="submit">Log Out</button>
        </form>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
